:root {
  --list-padding: 0;
}

.card {
  box-sizing: border-box;
  background: var(--color-white);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;

  --list-padding: 0.2rem 1rem;
}

.card > * + * {
  margin-top: 0.5rem;
}

.card > .list {
  margin-left: -1rem;
  margin-right: -1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > li {
  padding: var(--list-padding);
  border-top: 1px solid var(--color-gray--40);
}
