* {
  all: unset;
}

base,
basefont,
datalist,
head,
meta,
script,
style,
title,
noembed,
param,
template {
  display: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body,
html,
#root {
  height: 100vh;
  display: block;
}

h1 {
  font-size: 1.2rem;
  white-space: nowrap;
}

.text-muted {
  color: var(--color-gray--60);
}

a {
  cursor: default;
}
